---
import './Welcome.scss';
---

<div class='welcome__main' data-status='active'>
	<div class='welcome__content' data-index='0' data-status='unknown'>
		<div class='welcome__hello no-select'>Hi :)</div>
	</div>

	<div class='welcome__content' data-index='1' data-status='unknown'>
		<div class='welcome__hello no-select'>
			My name is
			<br />
			<span class='welcome__hello__name no-select'>Szymon</span>
		</div>
	</div>

	<div class='welcome__content' data-index='2' data-status='unknown'>
		<div class='welcome__hello no-select'>
			I am a
			<br />
			<span class='welcome__hello__magic no-select'>Software Developer</span>
		</div>
	</div>

	<div class='welcome__desktop-tip' data-status='unknown'>
		<span class='welcome__desktop-tip--circle'></span>
		<span class='welcome__desktop-tip--text'>Click to meet me</span>
	</div>

	<div class='welcome__mobile-tip' data-status='unknown'>
		<div class='welcome__mobile-tip--text no-select'>Touch</div>
		<div class='welcome__mobile-tip--text no-select'>to</div>
		<div class='welcome__mobile-tip--text no-select'>meet</div>
		<div class='welcome__mobile-tip--text no-select'>me</div>
	</div>

	<div class='welcome__skip-button' data-status='hidden'>
		<button class='welcome__skip-button--button no-select'>Skip Intro</button>
	</div>
</div>

<script>
	const isMobileDevice = !!Number(localStorage.getItem('isMobileDevice'));
	const allContents = document.querySelectorAll('.welcome__content') as NodeListOf<HTMLElement>;
	const desktopTip = document.querySelector('.welcome__desktop-tip') as HTMLElement;
	const desktopTipCircle = document.querySelector(
		'.welcome__desktop-tip--circle'
	) as HTMLElement;
	const mobileTip = document.querySelector('.welcome__mobile-tip') as HTMLElement;
	const skipButton = document.querySelector('.welcome__skip-button') as HTMLElement;

	const goToMainContent = () => {
		(document.querySelector('.welcome__main') as HTMLElement).dataset.status = 'hidden';

		setTimeout(() => {
			(document.querySelector('.main-content__main') as HTMLElement).dataset.status = 'active';
			(document.querySelector('.welcome__main') as HTMLElement).style.display = 'none';
		}, 1500);
	};

	let mousePosX = -1;
	let mousePosY = -1;
	window.addEventListener('mousemove', (e) => {
		mousePosX = e.clientX;
		mousePosY = e.clientY;
	});

	skipButton.addEventListener('click', goToMainContent, true);
	const interval = 3000;

	setTimeout(() => {
		allContents[0].dataset.status = 'center';
		skipButton.dataset.status = 'active';

		let i = 1;
		const intervalId = setInterval(() => {
			allContents[i].dataset.status = 'center';

			if (i !== 0) {
				allContents[i - 1].dataset.status = 'unknown';
			}

			if (i == 2) {
				skipButton.dataset.status = 'hidden';

				setTimeout(() => {
					skipButton.style.display = 'none';
				}, 1000);
			}

			if (i < allContents.length - 1) {
				i++;
			}
		}, interval);

		setTimeout(() => {
			clearInterval(intervalId);

			const offsetX = desktopTip.offsetWidth / 2;
			const offsetY = desktopTipCircle.offsetHeight / 2;

			let posX = mousePosX;
			let posY = mousePosY;

			if (isMobileDevice) {
				mobileTip.dataset.status = 'active';
			}

			if (!isMobileDevice) {
				desktopTip.dataset.status = 'active';
				desktopTip.style.left = `${posX - offsetX}px`;
				desktopTip.style.top = `${posY - offsetY}px`;

				document.body.addEventListener('mousemove', (event) => {
					posX = event.clientX;
					posY = event.clientY;

					desktopTip.style.left = `${posX - offsetX}px`;
					desktopTip.style.top = `${posY - offsetY}px`;
				});
			}

			document.body.addEventListener('click', goToMainContent, true);
		}, allContents.length * interval);
	}, interval - 1500);
</script>
