@use './../../style/styles.scss' as global;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$transitionTime: 1s;

.welcome {
	@keyframes background_pan {
		from {
			background-position: 200% center;
		}

		to {
			background-position: -200% center;
		}
	}

	&__main {
		height: 100%;
		width: 100%;
		position: relative;

		&[data-status='hidden'] {
			opacity: 0;
			transition: $transitionTime ease-in-out;
		}
	}

	&__content {
		box-sizing: border-box;
		padding: 5rem;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;

		&[data-status='center'] {
			opacity: 1;
			transition: $transitionTime ease-in-out;
		}

		&[data-status='unknown'] {
			opacity: 0;
			transition: $transitionTime ease-in-out;
		}
	}

	&__hello {
		font-size: 10vw;
		font-weight: 900;

		&__name {
			font-family: 'Pacifico', cursive;
		}

		&__magic {
			animation: background_pan 8s linear infinite;
			background: rgb(6, 179, 21);
			background: linear-gradient(
				90deg,
				rgba(6, 179, 21, 1) 0%,
				rgba(5, 176, 161, 1) 25%,
				rgba(191, 12, 198, 1) 50%,
				rgba(5, 176, 161, 1) 75%,
				rgba(6, 179, 21, 1) 100%
			);
			background-size: 400%;
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__desktop-tip {
		position: absolute;
		top: 100%;
		left: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&--circle {
			background-color: rgba(66, 66, 66, 0.5);
			border-radius: 50%;
			width: 3rem;
			height: 3rem;
			box-shadow: 0px 0px 1rem 0px rgba(66, 66, 66, 0.5);
			z-index: -1;
		}

		&--text {
			color: rgba(66, 66, 66, 0.5);
			font-weight: 900;
			font-size: x-large;
			white-space: nowrap;
			z-index: -1;
		}

		&[data-status='unknown'] {
			transition: opacity $transitionTime ease-in-out;
			opacity: 0;
		}

		&[data-status='active'] {
			transition: opacity $transitionTime ease-in-out;
			opacity: 1;
		}
	}

	&__mobile-tip {
		box-sizing: content-box;
		display: flex;
		transition: $transitionTime ease-in-out;
		height: 100%;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		position: absolute;
		left: 0;
		top: 0;
		font-size: 20vw;
		font-weight: 900;
		z-index: -1;

		&[data-status='unknown'] {
			color: rgba(0, 0, 0, 0);
		}

		&[data-status='active'] {
			color: rgba(66, 66, 66, 0.5);
		}

		&--text {
			display: flex;
			width: min-content;
			text-align: center;
		}
	}

	&__skip-button {
		position: absolute;
		box-sizing: border-box;
		top: 80%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 600;
		font-size: 1rem;
		color: global.$background-color;

		&--button {
			border: none;
			padding: 0.5rem;
			font: inherit;
			cursor: pointer;
			outline: none;
			text-align: center;
			border-radius: 1rem;
			color: white;
			background: global.$background-color;

			&:hover {
				background: white;
				color: global.$background-color;
			}
		}

		&[data-status='active'] {
			transition: opacity $transitionTime ease-in-out;
			opacity: 1;
		}

		&[data-status='hidden'] {
			transition: opacity $transitionTime ease-in-out;
			opacity: 0;
		}
	}
}
