---
import '../style/styles.scss';
import Welcome from '../components/Welcome/Welcome.astro';
import MainContent from '../components/MainContent/MainContent.astro';
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Szymon Kaszuba</title>
	</head>
	<body>
		<Welcome />
		<MainContent />
		<script>
			const isMobileDeviceCheck = () => {
				const regexp = /android|iphone|kindle|ipad/i;
				return regexp.test(navigator.userAgent) ? 1 : 0;
			};

			localStorage.setItem('isMobileDevice', isMobileDeviceCheck().toString());
		</script>
	</body>
</html>
