@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

$background-black: rgb(9, 9, 9);
$background-grey: rgba(66, 66, 66, 0.5);
$webkit-scrollbar-width: 0.5rem;

html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	color: white;
	background-color: $background-black;
	position: relative;
	font-weight: 900;
	-webkit-tap-highlight-color: transparent;
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

header {
	font-size: 4rem;
	text-align: center;
	margin-bottom: 2rem;
}

::-webkit-scrollbar {
	width: $webkit-scrollbar-width;

	&-track {
		background-color: $background-black;
	}

	&-thumb {
		background-color: white;
		border-radius: $webkit-scrollbar-width;
	}
}
