---
import './Welcome.scss';
---

<div class='welcome__main'>
	<div class='welcome__content' data-index='0' data-status='center'>
		<div class='welcome__hello'>Hi :)</div>
	</div>

	<div class='welcome__content' data-index='1' data-status='right'>
		<div class='welcome__hello'>My name is Szymon</div>
	</div>

	<div class='welcome__content' data-index='2' data-status='right'>
		<div class='welcome__hello'>
			I am a
      <br />
			<span class='welcome__hello--magic'>Software Developer</span>
		</div>
	</div>
</div>

<script is:inline>
	const allContents = document.querySelectorAll('.welcome__content');

	let i = 0;
	const interval = 5000;
	const intervalId = setInterval(() => {
    allContents[i].dataset.status = 'center';
    if (i !== 0) {
      allContents[i - 1].dataset.status = 'left';
    }
    if (i < allContents.length - 1) {
      i++;
    }
  }, interval);

	setTimeout(() => {
		clearInterval(intervalId);
	}, allContents.length * interval + 500);
</script>
