---
import AboutMe from '../AboutMe/AboutMe.astro';
import NavButton from '../NavButton/NavButton.astro';
import './MainContent.scss';
---

<div class='main-content__main' data-status='hidden'>
	<NavButton />
	<div class='main-content__content'>
		<AboutMe />
	</div>
</div>
